@model List<Musteri>

<div>
    <table class="table table-striped table-hover">
    <tr>
        
        <th>Ad </th>
        <th>Soyad </th>
        <th>Mail </th>
        <th>Mesaj </th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
           
            <td>@item.Ad</td>
            <td>@item.Soyad</td>
            <td>@item.Mail</td>
            <td>@item.Mesaj</td>
        </tr>
    }    
    </table>
    </div>

    